html,
body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body{
  font-size: 12px;
}

main{
  height: 100%;
}

input{
  &:focus{
    outline: none;
  }
}

.loader-wrap{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cil-modal{
  &__backdrop.in{
    @include opacity(0.8);
  }
  &__modal{
    .modal-content{
      padding: 25px;
    }
  }
}

