@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url('/assets/fonts/museosanscyrl-300-webfont.woff2') format('woff2'),
       url('/assets/fonts/museosanscyrl-300-webfont.woff') format('woff'),
       url('/assets/fonts/museosanscyrl-300-webfont.otf') format('otf');
  font-weight: normal;
}

@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url('/assets/fonts/museosanscyrl-500-webfont.woff2') format('woff2'),
       url('/assets/fonts/museosanscyrl-500-webfont.woff') format('woff'),
       url('/assets/fonts/museosanscyrl-500-webfont.otf') format('otf');
  font-weight: 500;
}

@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url('/assets/fonts/museosanscyrl-700-webfont.woff2') format('woff2'),
       url('/assets/fonts/museosanscyrl-700-webfont.woff') format('woff'),
       url('/assets/fonts/museosanscyrl-700-webfont.otf') format('otf');
  font-weight: 700;
}
