<div class="homepage__steps">
  <div class="homepage__steps-container">
    <h1 ng-bind="vm.steps.stepsHeadline"></h1>
    <ul class="list-unstyled list-inline row">
      <li class="step1 col-sm-4">
        <h2 ng-bind="vm.steps.stepTitle1"></h2>
        <p ng-bind="vm.steps.stepDescription1"></p>
      </li>

      <li class="step2 col-sm-4">
        <h2 ng-bind="vm.steps.stepTitle2"></h2>
        <p ng-bind="vm.steps.stepDescription2"></p>
      </li>

      <li class="step3 col-sm-4">
        <h2 ng-bind="vm.steps.stepTitle3"></h2>
        <p ng-bind="vm.steps.stepDescription3"></p>
      </li>

    </ul>

  </div>
</div>
